.order__bill {
  width: 470px;
}

.billing {
  margin-top: 60px;
  padding: 0 100px;
}

@media only screen and (max-width: 1600px) {
  .billing {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 600px) {
  .billing {
    margin: 0 !important;
    padding: 20px 0px;
    overflow: hidden;
  }
  .order__bill {
    width: 100%;
}
}