.cart_screen {
    padding: 80px 100px;
}

.p_counter {
    display: flex;
    gap: 40px;
}

.bag_title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    margin: 40px 0;
}

.p_cart {
    padding: 30px 0;
    border-bottom: 1px solid #727272;
}

.p_img {
    width: 170px;
}

.p_outer {
    display: flex;
    gap: 40px;
}

.p_name {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.p_act {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #20248A;
    display: flex;
    gap: 80px;
    margin-top: 80px;
}

.p_size {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.p_price {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}

.logo_detail {
    display: flex;
    gap: 40px;
}

.p_logo {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.p_logo-pos {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.logo_f {
    width: 90px;
}

.cart_total {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    padding: 0;
}

.cart_total-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    border-radius: 4px;
}

.cart_amt {
    padding: 20px;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.cart_total button {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding: 15px 90px;
    border: none;
    color: #fff;
    background-color: #20248A;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cart_total button:hover {
    background-color: #20248A;
    color: #fff;
}


@media screen and (max-width: 1600px) {
    .cart_screen {
        padding: 40px 60px;
    }

    .bag_title {
        font-size: 24px;
        line-height: 36px;
        margin: 20px 0;
    }

    .p_cart {
        padding: 20px 0;
    }

    .p_outer {
        gap: 20px;
    }

    .p_img {
        width: 130px;
    }

    .p_name {
        font-size: 14px;
    }

    .p_act {
        font-size: 14px;
        gap: 40px;
        margin-top: 40px;
    }

    .p_size {
        font-size: 14px;
    }

    .p_price {
        font-size: 16px;
        line-height: 25px;
    }

    .p_logo {
        font-size: 16px;
        line-height: 25px;
        gap: 20px;
    }

    .logo_f {
        width: 60px;
    }

    .p_logo-pos {
        font-size: 16px;
        line-height: 25px;
        gap: 20px;
    }

    .cart_total {
        margin-top: 20px;
    }

    .cart_amt {
        padding: 15px;
        font-size: 19px;
        line-height: 30px;
    }

    .cart_total button {
        font-size: 16px;
        line-height: 25px;
        padding: 12px 80px;
    }
}

@media screen and (max-width: 1200px) {
    .cart_screen {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 991px) {
    .p_cart {
        flex-direction: column;
        width: fit-content;
        padding: 20px;
        border: 1px solid #727272;
        gap: 15px;
    }

    .p_logo {
        gap: 10px;
    }

    .p_logo-pos {
        gap: 10px;
    }

    .logo_f {
        width: 50px;
    }

    .p_img {
        width: 100px;
    }

    .p_act {
        font-size: 14px;
        gap: 40px;
        margin-top: 26px;
    }

    .cart_total {
        justify-content: start;
    }

    .p_remark {
        display: flex;
        justify-content: end;
    }

    .cart_total button {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .cart_total {
        justify-content: center;
    }
}