.orders-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.nav-item {
  margin: 0 15px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

.nav-item.selected {
  color: black;
}

.nav-item.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  animation: underline 0.3s ease-in-out;
}

@keyframes underline {
  from {
    width: 0;
    left: 50%;
  }

  to {
    width: 100%;
    left: 0;
  }
}

.content {
  padding: 20px;
  font-size: 18px;
}

/* button {
  width: 203.526px;
  height: 53.934px;
  flex-shrink: 0;
  border-radius: 5.088px;
  border: 1.018px solid #3C3B3B;
} */