.orders-container {
  padding: 0 140px;
}

.order_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 70px;
}

.order_head {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.2px;
  margin: 30px 0;
}

.ord_nav-item {
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0.2px;
  cursor: pointer;
  position: relative;
  color: #606060;
}

.ord_nav-item.selected {
  color: black;
}

.ord_nav-item.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  animation: underline 0.3s ease-in-out;
}

@keyframes underline {
  from {
    width: 0;
    left: 50%;
  }

  to {
    width: 100%;
    left: 0;
  }
}

.order_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.order_single {
  border: 1px solid #000;
  width: 100%;
  border-radius: 15px;
}

.order_Ttl {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
  border-bottom: 1px solid #000;
}

.ord_plcd,
.ord_id {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.order_outer {
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dt_delivery {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 25px;
}

.order_item {
  display: flex;
  justify-content: space-between;
}

.ord_img {
  width: 180px;
}

.ord_desc {
  display: flex;
  gap: 25px;
}

.prd_name {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #20248A;
}

.pr_price,
.pr_size,
.pr_color,
.pr_lg-place {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin: 0;
}

.pr_track-outer h5 {
  margin: 0;
}

/* .pr_track span {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #3C3B3B;
  border-bottom: 1px solid #3C3B3B;
} */

.pr_review button {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background: none;
  padding: 16px 40px;
  color: #3C3B3B;
  border: 1px solid #3C3B3B;
  border-radius: 5px;
}

.pr_track-outer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  /* margin-bottom: 20px; */
}

.pr_action {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.pr-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.pr_lg_det {
  width: 90px;
}


.raise_cmng {
  padding: 20px 80px;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
}

.pr_track {
  position: relative;
}

.popup {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  font-size: 14px;
  font-family: Inter;
  z-index: 1000;
}

@media screen and (max-width: 1600px) {
  .orders-container {
    padding: 0 60px;
  }

  .order_navbar {
    gap: 50px;
  }

  .ord_nav-item {
    font-size: 26px;
    line-height: 46px;
  }

  .order_head {
    font-size: 20px;
    margin: 20px 0;
  }

  .order_content {
    gap: 40px;
  }

  .order_Ttl {
    padding: 15px 50px;
  }

  .ord_plcd,
  .ord_id {
    font-size: 20px;
    line-height: 32px;
  }

  .order_outer {
    padding: 20px 50px;
  }

  .dt_delivery {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ord_desc {
    gap: 20px;
  }

  .ord_img {
    width: 130px;
  }

  .prd_name {
    font-size: 19px;
    line-height: 30px;
  }

  .pr_price,
  .pr_size,
  .pr_color,
  .pr_lg-place {
    font-size: 19px;
    line-height: 30px;
  }

  .pr_review button {
    font-size: 14px;
    padding: 12px 30px;
  }

  .pr-logo {
    gap: 15px;
    font-size: 14px;
  }

  .pr_action {
    gap: 20px;
  }

  .pr_lg_det {
    width: 60px;
  }
}


@media screen and (max-width: 991px) {
  .orders-container {
    padding: 0 20px;
  }

  .ord_nav-item {
    font-size: 20px;
    line-height: 34px;
  }

  .order_navbar {
    gap: 40px;
  }

  .order_head {
    font-size: 16px;
    margin: 16px 0;
  }

  .order_Ttl {
    padding: 15px 30px;
  }

  .ord_plcd,
  .ord_id {
    font-size: 16px;
    line-height: 27px;
  }

  .order_outer {
    padding: 20px 30px;
  }

  .dt_delivery {
    font-size: 16px;
    line-height: 27px;
  }

  .prd_name {
    font-size: 16px;
    line-height: 27px;
  }

  .pr_price,
  .pr_size,
  .pr_color,
  .pr_lg-place {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 500px) {
  .pr_track-outer {
    display: flex;
    gap: 10px;
    justify-content: start;
    /* margin-bottom: 20px; */
  }

  .ord_nav-item {
    font-size: 13px;
    line-height: 24px;
  }

  .ord_nav-item.selected::after {
    height: 1px;
  }

  .order_navbar {
    gap: 20px;
  }

  .order_head {
    font-size: 14px;
    margin: 15px 0;
    margin-top: 0;
  }

  .order_Ttl {
    padding: 15px 20px;
  }

  .ord_plcd,
  .ord_id {
    font-size: 11px;
    line-height: 20px;
  }

  .order_content {
    gap: 30px;
  }

  .order_outer {
    padding: 20px 20px;
  }

  .dt_delivery {
    font-size: 14px;
    line-height: 23px;
  }

  .order_item {
    flex-direction: column;
    gap: 20px;
  }

  .prd_name {
    font-size: 14px;
    line-height: 23px;
  }

  .pr_price,
  .pr_size,
  .pr_color,
  .pr_lg-place {
    font-size: 14px;
    line-height: 23px;
  }

  .ord_img {
    width: 100px;
  }

  .pr_review button {
    font-size: 14px;
    padding: 10px 25px;
  }

  .order_outer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}