.product__Screen {
    display: flex;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.filter_container {
    width: 25%;
    background-color: #f5f5f5;
    padding: 20px;
    /* position: fixed; */
    height: 100%;
    /* overflow-y: auto; */
    /* Enable vertical scrolling */
    /* top: 0; */
    /* left: 0; */
    border-right: 1px solid #ddd;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product_container {
    width: 75%;
    /* margin-left: 25%; */
    padding: 20px;

}


.filter_btn-mobile {
    display: none;
}

.mobile_filter-container {
    display: none;
}

.product__Screen {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .filter_btn-mobile {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .mobile_filter-container {
        display: block;
    }

    .desktop_filter-container {
        display: none;
    }

}