/* slider */

.group__Slider {
    padding: 0 140px;
    padding-bottom: 70px;
    margin-top: 40px;
}

.group__Slider .carousel-indicators [data-bs-target] {
    width: 13px !important;
    height: 13px !important;
    border-radius: 100%;
    margin-right: 8px !important;
    margin-left: 8px !important;
    background-color: #000 !important;
}

.group__Slider .carousel-indicators {
    bottom: -80px;
}

.group__Slider .carousel-inner {
    border-radius: 14px;
}

.cat__Lbl {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 98px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}


@media only screen and (max-width: 1600px) {
    .cat__Lbl {
        font-size: 75px;
    }

    .group__Slider .carousel-indicators [data-bs-target] {
        width: 10px !important;
        height: 10px !important;
        border-radius: 100%;
        margin-right: 6px !important;
        margin-left: 6px !important;
        background-color: #000 !important;
    }
}