.grid-container {
  display: flex;
  justify-content: center; /* Aligns children horizontally to the center */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Three columns, adjust the width as needed */
  gap: 30px 20px;
  justify-content: center; /* Center align the grid */
  padding: 100px; /* Add padding if necessary */
}

.card {
  width: auto;
  height: 450px;
  display: grid;
  grid-template-rows: 380px 50px;
  gap: 20px;
  cursor: pointer;
  /* margin: 100px; */
  transition: transform 0.3s ease-in;
}

.card:hover {
  transform: scale(1.02);
}

.card-image-sec img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-details-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card-details-sec p {
  margin: 0;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 350px;
    height: 600px;
    display: grid;
    grid-template-rows: 530px 50px;
    gap: 20px;
  }
}

@media screen and (min-width: 1800px) {
  .card {
    width: 400px;
    height: 650px;
    display: grid;
    grid-template-rows: 580px 50px;
    gap: 20px;
  }
}
