.products-sec {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
}

.head {
  display: flex;
  gap: 20px;
}

.head h3 {
  color: #0076d6;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.products-sec-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item p {
  color: #0076d6;
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
  margin: 0;
}

.list-item {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  align-items: center;
}

.products-sec-image {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-sec-image img {
  width: 100%;
}

.products-sec-tag {
  width: 40%;
}

.products-sec-tag p {
  margin-left: 20px;
  color: #0076d6;
  /* font-family: Satoshi; */
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 1100px) {
  .products-sec {
    height: 600px;
  }
  .products-sec-tag p {
    margin: 50px 0 0 20px;
  }
  .list {
    margin-top: -40px;
  }
  .list-item p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .products-sec-tag p {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1300px) {
  .products-sec {
    height: 650px;
  }
  .products-sec-tag p {
    font-size: 20px;
  }
  .head h3 {
    font-size: 28px;
  }
  .list-item p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1380px) {
  .products-sec {
    height: 700px;
  }
  .products-sec-tag p {
    margin-top: 50px;
  }
}
