.prod-sec {
  padding: 40px;
  display: flex;
  height: 800px;
}

.prod-img {
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.prod-img img {
  width: 60%;
  height: 70%;
}

.prod-det {
  width: 50%;
}

.prod-name h3 {
  color: #222;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.prod-desc p {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.prod-size,
.size-list,
.prod-age,
.age-list {
  display: flex;
  gap: 25px;
  margin-bottom: 10px;
}

.prod-size p,
.size-list p,
.prod-age p,
.age-list p {
  color: #000;
  /* font-family: Satoshi; */
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.size-list p {
  cursor: pointer;
}

.prod-add-sec {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 100px;
}

.prod-price {
  display: flex;
  justify-content: end;
}

.prod-price p {
  color: #222;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin: 0;
}

.prod-add {
  display: flex;
  justify-content: space-between;
}

.prod-quant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 6px;
  width: 25%;
  padding: 15px 10px;
}

.prod-quant p {
  margin: 0;
  color: #222;
  font-weight: 700;
}

.quant-action {
  cursor: pointer;
  font-size: 20px;
}

.add-to-cart {
  width: 70%;
}

.add-to-cart button {
  width: 100%;
  border-radius: 6px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
}

/* FAQ */

.faq-sec {
  border-top: 2px solid #000;
  margin: 0;
}

.ques {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid #000;
}

.ques p {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin: 0;
}

.ques img {
  cursor: pointer;
}

/* RELATED CATEGORIES */

.rel-cat {
  margin: 50px 0;
  padding: 0 40px;
}

.rel-head p {
  color: #222;
  /* font-family: Satoshi; */
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 60px;
  margin: 0;
}

.sat-cus {
  margin: 50px 0;
  padding: 0 40px;
}

.sat-head p {
  color: #222;
  /* font-family: Satoshi; */
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 80px;
  margin: 0;
}

.sat-img {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.sat-img img {
  height: 600px;
}
