:root {
  font-family: "Inter", sans-serif;
}


@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Regular"),
    url("../public/assets/fonts/Satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Medium"),
    url("../public/assets/fonts/Satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Bold"),
    url("../public/assets/fonts/Satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Black"),
    url("../public/assets/fonts/Satoshi/Satoshi-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #fff;
  color: #20248A;
  overflow-x: hidden;
}

.page__Wrap {
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}