:root {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* FOOTER SECTION */

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  gap: 10px;
  background: #f6b1a2;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 50px;
  justify-content: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.row1 a {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 77px;
  /* 320.833% */
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.row2 {
  display: grid;
  grid-template-areas: "contact-one contact-two contact-three";
  grid-template-columns: 50% 25% 25%;
  /* gap: 10px; */
  justify-items: center;
  width: 100%;
}

.contact-sec-one {
  grid-area: contact-one;
}

.contact-sec-two {
  grid-area: contact-two;
}

.section {
  display: flex;
  flex-direction: column;
}

.contact-details {
  height: 250px;
}

/* .contact {
  height: 250px;
  border-bottom: 1px solid #000;
} */

.regards p {
  color: #e08470;
  text-align: left;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 2.64px;
  margin: 50px 0 0 0;
  /* height: 200px; */
}

.regards-one {
  display: flex;
  align-items: end;
  gap: 15px;
}

.regards-one img {
  width: 100px;
  height: 150px;
}

.regards-two p {
  font-size: 120px;
  margin: 0;
}

.contact-details .head h2 {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 77px;
  /* 320.833% */
  letter-spacing: 2px;
}

.contact-details .data p {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 2px;
}

.contact-details .get-started button {
  background: #f6b1a2;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 2px;
  padding: 5px 30px;
  margin-top: 30px;
  cursor: pointer;
}

.contact-sec-three {
  grid-area: contact-three;
}

.quick-links {
  display: flex;
  flex-direction: column;
}

.quick-links a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  /* 193.75% */
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 10px;
}

.row3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  border-top: 1px solid #000;
}

.row3 h3 {
  color: rgba(224, 132, 112, 0.2);
  font-size: 180px;
  font-weight: 700;
  /* line-height: 303.228px; */
  letter-spacing: 0.263px;
  text-transform: uppercase;
  margin: 0;
}

/* Header section */

.head-sec {
  display: flex;
  flex-direction: column;
}

.heading-container h1 {
  color: #1c1f77;
  font-size: 130px;
  font-weight: 700;
  line-height: 180px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.heading-container {
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.heading-container::-webkit-scrollbar {
  display: none;
  /* WebKit browsers */
}

.category-item {
  margin-right: 200px;
  /* Gap between each repetition */
  white-space: nowrap;
  /* Prevent line breaks */
}

.category-item:last-child {
  margin-right: 0;
  /* Remove margin for the last element */
}

.head-body {
  display: flex;
  width: 100%;
  height: 250px;
  margin-top: 50px;
}

.category-btn {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.dresscode {
  width: 50%;
  padding-right: 30px;
}

.dresscode p {
  color: #20248a;
  /* font-family: Satoshi; */
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0;
}

.category-btn select {
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 20px;
  color: #20248a;
  /* font-family: Satoshi; */
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}

.category-btn select:focus {
  outline: none;
}



/* Categories page */
.categories {
  padding: 0 130px;
}

.back_link {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 20px;
}

.back_link img {
  width: 50px;
}

.back_link span {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #20248A;
}

.mid__Ttl-con {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.home__Ttl-con {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.hm_ct-ttl {
  display: flex;
  gap: 10px;
}

.hm_ct-ttl h3 {
  font-family: Inter;
  font-size: 65px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 0;
  color: #1C1F77;
}

.bt_arw {
  width: 16px;
}

.hm__Ttl-para p {
  font-family: 'Inter';
  font-size: 30px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #20248A;
  margin: 0;
  padding-left: 39%;
}


.srt__Ttl {
  margin-bottom: 60px;
  margin-top: 150px;
}

.sortBy__con {
  padding: 0 130px;
}

.srt__Name {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 16px;
  margin-bottom: 0;
}

.srt__Ttl {
  margin-bottom: 40px;
  margin-top: 80px;
}


.gen_Nav {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.gen-tab {
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  color: #A9A9A9;
}

.gen_nav-tab {
  display: flex;
  gap: 70px;
}

.select__Gender {
  padding: 0 130px;
}

.filters {
  /* padding: 25px 0; */
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__Inner {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

/* product details */
.productImage {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}

.pr__thumbs {
  width: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.thumb_item {
  width: 100%;
  height: 220px;
}

.thumb_item img {
  width: 100%;
  object-fit: cover;
}

.pr__thumbs-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main_Image {
  width: 70%;
}

.main_Image img {
  width: 100%;
  object-fit: cover;
}

.pr_nav {
  display: flex;
  justify-content: center;
}

.pr_nav button {
  background: none;
  border: none;
}

.pr_nav i {
  font-size: 32px;
}

.product__Details {
  padding: 0 40px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.productContent {
  width: 45%;
}


.pr_name {
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 500;
  line-height: 49px;
}

.size_item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 100%;
}


/* -----------Billing Page------------- */

.order__bill {
  width: 470px;
}

.billing{
  margin-top: 60px;
  padding: 0 100px;
}



@media screen and (min-width: 1300px) {
  .heading h1 {
    font-size: 160px;
  }
}